%h1
  = link_to Settings.app.name, root_url
  -
  %small
    = Rails.env

%h2
  =t("Channels")
- @channels.each do |channel|
  %h3
    = channel.name
  %ul#projects
    - channel.projects.each do |project|
      %li
        = #debug project
        = link_to project["name"], "https://3.basecamp.com/#{Settings.integrations[channel.code].account_id}/projects/#{project["id"]}", target: "_blank"
